/junit4/target
/junit4/.classpath
/junit4/.project
/junit4/.settings
/junit5/.project
/junit5/.settings
/junit5/target
/junit5/.classpath
/concurrencia/.project
/concurrencia/.settings
/concurrencia/target
/concurrencia/.classpath
