/junit4/target
/junit4/.classpath
/junit4/.project
/junit4/.settings
/junit5/.project
/junit5/.settings
/junit5/target
/junit5/.classpath
/concurrencia/.project
/concurrencia/.settings
/concurrencia/target
/concurrencia/.classpath
/poc-hello/.mvn
/poc-springboot/.mvn
/hello2/.mvn
/jpa/jpa-eclipselink/.project
/jpa/jpa-eclipselink/.settings
/jpa/jpa-eclipselink/target
/jpa/jpa-eclipselink/.classpath
/jpa/jpa-hibernate/.project
/jpa/jpa-hibernate/.settings
/jpa/jpa-hibernate/target
/jpa/jpa-hibernate/.classpath
